<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet"> <!-- Include Poppins font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> <!-- Include Font Awesome for icons -->
    <link href="/styles/style.css" rel="stylesheet"> <!-- Include your CSS file here -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9151064528587732"
     crossorigin="anonymous"></script>
     <link rel="icon" href="/photos/Icons_LO.png" type="image/png">

    <title>Forgot Password</title>
</head>

<body class="bg-gradient-to-r from-purple-500 via-pink-500 to-red-500 font-poppins">
    <%- include('partials/header') %>

    <% if (page === 'enterEmail') { %>
        <div class="flex justify-center items-center h-screen">
            <div class="form-container bg-white shadow-lg rounded-lg p-10 max-w-md mx-auto mt-10">
                <h2 class="text-3xl font-semibold mb-8">Forgot Password</h2>
                <h3 class="text-2xl font-semibold mb-8">Enter Your Registered Email</h3>
                <% if(locals.message) { %>
                    <p id="message" class="text-red-500 text-sm mb-6">
                        <%=message %>
                    </p>
                <% } %>
                <form action="/forgot-password" method="post" class="mb-8">
                    <input type="email" name="email" placeholder="Email" required class="w-full px-4 py-3 rounded-lg mb-4 bg-gray-100 focus:outline-none focus:bg-white border-2 border-gray-300"><br>
                    <input id="submit" type="submit" value="Send OTP" class="w-full bg-green-500 text-white font-semibold px-4 py-3 rounded-lg mb-4 hover:bg-green-600 transition duration-200">
                </form>
                <p class="text-gray-600 text-center">Remembered your password? <a href="/login" class="text-green-500 font-semibold">Login</a></p>
            </div>
        </div>
    <% } else if (page === 'enterOTP') { %>
        <div class="flex justify-center items-center h-screen">
            <div class="form-container bg-white shadow-lg rounded-lg p-10 max-w-md mx-auto mt-10">
                <h2 class="text-3xl font-semibold mb-8">Forgot Password</h2>
                <h3 class="text-2xl font-semibold mb-8">Enter OTP</h3>
                <% if(locals.message) { %>
                    <p id="message" class="text-red-500 text-sm mb-6">
                        <%=message %>
                    </p>
                <% } %>
                <form action="/enter-otp" method="post" class="mb-8">
                    <input type="hidden" name="email" value="<%= email %>">
                    <input type="text" name="enteredOTP" placeholder="OTP" required class="w-full px-4 py-3 rounded-lg mb-4 bg-gray-100 focus:outline-none focus:bg-white border-2 border-gray-300"><br>
                    <input id="submit" type="submit" value="Verify OTP" class="w-full bg-green-500 text-white font-semibold px-4 py-3 rounded-lg mb-4 hover:bg-green-600 transition duration-200">
                </form>
                <form action="/resend-otp" method="post">
                    <input type="hidden" name="email" value="<%= email %>">
                    <p class="text-gray-600 text-center">Didn't receive OTP? <button type="submit" class="text-green-500 font-semibold underline">Resend OTP</button></p>
                </form>
            </div>
        </div>
    <% } else if (page === 'resetPassword') { %>
        <div class="flex justify-center items-center h-screen">
            <div class="form-container bg-white shadow-lg rounded-lg p-10 max-w-md mx-auto mt-10">
                <h2 class="text-3xl font-semibold mb-8">Forgot Password</h2>
                <h3 class="text-2xl font-semibold mb-8">Reset Your Password</h3>
                <form action="/reset-password" method="post" class="mb-8">
                    <input type="hidden" name="email" value="<%= email %>">
                    <input type="password" name="password" placeholder="New Password" required class="w-full px-4 py-3 rounded-lg mb-4 bg-gray-100 focus:outline-none focus:bg-white border-2 border-gray-300"><br>
                    <input type="password" name="confirmPassword" placeholder="Confirm Password" required class="w-full px-4 py-3 rounded-lg mb-4 bg-gray-100 focus:outline-none focus:bg-white border-2 border-gray-300"><br>
                    <input id="submit" type="submit" value="Reset Password" class="w-full bg-green-500 text-white font-semibold px-4 py-3 rounded-lg mb-4 hover:bg-green-600 transition duration-200">
                </form>
                <p class="text-gray-600 text-center">Remembered your password? <a href="/login" class="text-green-500 font-semibold">Login</a></p>
            </div>
        </div>
    <% } %>
    <%- include('partials/footer') %>
</body>
<script>
    setTimeout(() => {
        document.getElementById("message").classList.add("hidden");
    }, 3000);
</script>

</html>
