<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" href="/photos/lights_out_icon.jpeg" type="image/jpeg">
    <title>Leaderboard</title>
</head>

<body>
    <%-include('partials/header') %>
    <div class="bg-gradient-to-r from-purple-500 via-pink-500 to-red-500 font-poppins min-h-screen">
    <div class="flex flex-col items-center">
        <div class="profile-container bg-white p-8 rounded-lg shadow-md text-center w-full max-w-screen-md mt-8">
            <h2 class="text-4xl font-bold mb-8 text-purple-800">Leaderboard</h2>

            <!-- Leaderboard Table -->
            <div class="overflow-x-auto">
                <table class="w-full table-auto mb-8">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-6 py-3 text-center">Name</th>
                            <th class="px-6 py-3 text-center">Accuracy (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% topPlayers.forEach((player, index) => { %>
                            <tr class="<%= index % 2 === 0 ? 'bg-gray-100' : '' %>">
                                <td class="px-6 py-4 whitespace-nowrap"><%= player.name %></td>
                                <td class="px-6 py-4 whitespace-nowrap"><%= (Number(player.accuracy)).toFixed(2) %>%</td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>

            <!-- Buttons -->
            <div class="grid grid-cols-2 gap-4">
                <!-- Home Button -->
                <a href="/" class="bg-green-500 text-white font-semibold px-6 py-3 rounded-full hover:bg-green-600 transition duration-300">Home</a>

                <!-- My Profile Button -->
                <a href="/userProfile" class="bg-green-500 text-white font-semibold px-6 py-3 rounded-full hover:bg-green-600 transition duration-300">My Profile</a>
            </div>
        </div>
    </div>
</div>
    <%-include('partials/footer') %>
</body>

</html>
