<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet"> <!-- Include Poppins font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> <!-- Include Font Awesome for icons -->
    <link rel="stylesheet" href="/styles/style.css"> <!-- Update the path to your CSS file -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> <!-- Include Tailwind CSS -->
    <link rel="icon" href="/photos/lights_out_icon.jpeg" type="image/jpeg">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9151064528587732"
     crossorigin="anonymous"></script>
    <title>Login or Sign Up</title>
</head>

<body class="bg-gradient-to-r from-purple-500 via-pink-500 to-red-500 font-poppins">
    <%- include('partials/header') %>
    <div class="flex justify-center items-center h-screen">
        <div class="form-container bg-white shadow-lg rounded-lg p-10 max-w-md mx-auto">
            <h2 class="text-4xl font-semibold mb-8 text-center text-gray-800">Welcome to Lights Out</h2>
            <% if (page === 'login') { %>
                <h3 class="text-2xl font-semibold mb-6 text-center text-gray-700">Login</h3>
                <% if(locals.message)  {%> 
                    <p id="userExists" class="text-pink-500 text-sm mb-6">
                        <%=locals.message %>
                    </p>
                <% } %>
                <form action="/login" method="post">
                    <input type="email" name="email" placeholder="Email" required class="w-full px-4 py-3 rounded-lg mb-4 bg-gray-100 focus:outline-none focus:bg-white border-2 border-gray-300"><br>
                    <input type="password" name="password" placeholder="Password" required class="w-full px-4 py-3 rounded-lg mb-4 bg-gray-100 focus:outline-none focus:bg-white border-2 border-gray-300"><br>
                    <input type="submit" value="Login" class="w-full bg-green-500 text-white font-semibold px-6 py-3 rounded-lg mb-6 hover:bg-green-600 transition duration-200">
                    <div class="text-center">
                        <a class="forgot-password text-sm text-gray-600 hover:text-green-500" href="/forgot-password">Forgot Password?</a>
                    </div>
                </form>
                <p class="text-gray-700 text-center">Don't have an account? <a href="/signup" class="text-green-500 font-semibold">Sign up</a></p>
            <% } else if (page === 'signup') { %>
                <h3 class="text-2xl font-semibold mb-6 text-center text-gray-700">Sign Up</h3>
                <% if(locals.userExists=="false")  {%>
                    <p id = "userExists" class="text-red-600 text-sm mb-6">User does not exist! Sign up first</p>
                <% } %>
                <form action="/signup" method="post">
                    <input type="text" name="name" placeholder="Name" required class="w-full px-4 py-3 rounded-lg mb-4 bg-gray-100 focus:outline-none focus:bg-white border-2 border-gray-300"><br>
                    <input type="email" name="email" placeholder="Email" required class="w-full px-4 py-3 rounded-lg mb-4 bg-gray-100 focus:outline-none focus:bg-white border-2 border-gray-300"><br>
                    <input type="password" name="password" placeholder="Password" required class="w-full px-4 py-3 rounded-lg mb-4 bg-gray-100 focus:outline-none focus:bg-white border-2 border-gray-300"><br>
                    <input type="submit" value="Sign Up" class="w-full bg-green-500 text-white font-semibold px-6 py-3 rounded-lg mb-6 hover:bg-green-600 transition duration-200">
                </form>
                <p class="text-gray-700 text-center">Already have an account? <a href="/login" class="text-green-500 font-semibold">Login</a></p>
            
            <% } else if (page === 'OTP') { %>
                <h3 class="text-2xl font-semibold mb-6 text-center text-gray-700">Sign Up</h3>
                <h4 class="text-xl font-semibold mb-4 text-center text-gray-800">Verify OTP for <%= partialEmail %></h4>
                <% if(locals.message)  {%>
                    <p id = "wrongOTP" class="text-red-600 text-sm mb-6">
                        <%=message %>
                    </p>
                <% } %>
                <form action="/verifyOTP" method="post">
                    <input type="hidden" name="email" value="<%= email %>"> <!-- Assuming you pass the email as a variable -->
                    <input type="hidden" name="name" value="<%= name %>"> <!-- Assuming you pass the email as a variable -->
                    <input type="hidden" name="password" value="<%= password %>"> <!-- Assuming you pass the email as a variable -->
                    <input type="text" name="enteredOTP" placeholder="OTP" required class="w-full px-4 py-3 rounded-lg mb-4 bg-gray-100 focus:outline-none focus:bg-white border-2 border-gray-300"><br>
                    <input type="submit" value="Verify OTP" class="w-full bg-green-500 text-white font-semibold px-6 py-3 rounded-lg mb-6 hover:bg-green-600 transition duration-200">
                </form>
                <p class="text-gray-700 text-center">Already have an account? <a href="/login" class="text-green-500 font-semibold">Login</a></p>
            <% } %>
        </div>
    </div>
     <%- include('partials/footer') %> 
</body>
<script>
    setTimeout(() => {
        document.getElementById("wrongOTP").classList.add("hidden")
    }, 5000);
    setTimeout(() => {
        document.getElementById("userExists").classList.add("hidden")
    }, 5000);
</script>

</html>
